.header {
   background: rgb(23, 22, 22);
   padding: 10px 0;
   position: sticky;
   top: 0;
   z-index: 999;
}

.header .inner-logo a {
   font-size: 24px;
   font-weight: 700;
   color: #fff;
}

.body .sider {
   width: 150px;
   background: #323232;
   color: #fff;
   height: calc(100vh - 56px);
   position: fixed;
   top: 56px;
   left: 0;
}

.body .main {
   margin: 150px;
   position: relative;
   left: 70px;
   width: calc(100% -180px);
}

.sider .inner-menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.sider .inner-menu ul li a {
   color: #fff;
   display: block;
   padding: 6px 10px;
   border-bottom: 1px solid #515151;
}

.mau {
   background: greenyellow;
}

/* xet mau cho phan trang  */
.mau2 {
   background-color: rgb(26, 113, 228);
}

#from-seach {
   border: 1px solid gold;
   width: 200px;
}


/* css cho phan trang  */
.pagination {
   list-style-type: none;
   /* Loại bỏ các dấu đầu dòng của danh sách */
   padding: 0;
   /* text-align: center; Căn giữa các phần tử trong danh sách */
}

.pagination .page-item {
   display: inline-block;
   /* Hiển thị các phần tử li cùng một dòng */
}

.pagination .page-link {
   padding: 5px 10px;
   text-decoration: none;
}

.info {
   color: greenyellow;
   display: inline-block;
   font-size: 30px;
   right: 15px;
   z-index: 9999;
   position: fixed;
}

.alert-hidden {
   display: none;
   animation-name: alert-hidden;
   background-color: white;
}

[info] [close-alert] {
   background-color: #fff;
   display: inline-block;
   width: 24px;
   height: 24px;
   text-align: center;
   cursor: pointer;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.product-create {
   background: rgb(216, 216, 233);
   display: inline-block;
   border: 1px solid rgb(230, 230, 239)
}

.form-group {
   margin: 5px;
   width: 500px;
   height: 30px;
   font-family: 50px;
   display: inline;
}

[upload-image-preview] {
   display: inline;
   width: 100px;
   height: 100px;
}

.khoi3 {
   border: 1px solid rgb(143, 126, 126);
   margin-top: 30px;
}

.mb-4{
   margin-top :20px; 
}